.main {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 50%;
  margin: 5rem auto;
  padding: 3rem;
}

.main__form {
  display: flex;
  align-items: center;
}

.main__input {
  width: 90%;
  padding: 1rem 2rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  border: 2px solid rgb(126, 126, 126);
  outline: none;
}

.main__form button {
  padding: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(83, 62, 141);
  color: #fff;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.list {
  display: block;
  max-height: 30rem;
  overflow-y: auto;
  margin: 1rem 0;
}

.task {
  background-color: rgb(214, 214, 214);
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-author {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  background-color: rgb(83, 62, 141);
  color: #fff;
}

.line-through {
  text-decoration-line: line-through;
}

.action {
  display: flex;
  height: 100%;
}

.action button {
  font-size: 1.5rem;
  width: 6rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.done {
  background-color: rgb(83, 62, 141);
}
.remove {
  background-color: rgb(223, 26, 26);
}

.main__form button:hover,
.done:hover {
  background-color: rgba(83, 62, 141, 0.8);
}

.remove:hover {
  background-color: rgba(223, 26, 26, 0.8);
}
