header {
  display: flex;
  justify-content: end;
}
.nav {
  padding: 3rem;
}
.nav-link {
  background-color: #fff;
  border-radius: 0.5rem;
  color: #000;
  padding: 1rem 2rem;
  font-weight: 700;
}

.nav-btn {
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav-link:first-child {
  margin-right: 2rem;
}
