@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(83, 62, 141);
}

label p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid rgb(126, 126, 126);
  outline: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.submit {
  padding: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(83, 62, 141);
  color: #fff;
  transition: background-color 0.3s ease;
}
